body{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#result{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 59px;
    background-color: #222;
    color: greenyellow;
    border-radius: 10px;
    margin-top: 162px;
}

#re{
    width: 118px;
    height: 50px;
    border-radius: 10px;
    background-color: #222;
    color: #fff;
    cursor: pointer;
}

#send{
    width: 118px;
    height: 50px;
    border-radius: 10px;
    background-color: #222;
    color: #fff;
    cursor: pointer;
}
#stop_Response{
    width: 118px;

    height: 50px;
    border-radius: 10px;
    background-color: #222;
    color: #fff;
    cursor: pointer;

}