@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


body {
    margin: 0px;
    width: 100%;
    background-color: #edf1fa;
}

.mainclass {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.headerpart {
    display: flex;
    align-items: center;
    background: rgb(244 246 252);
    justify-content: space-around;
    height: 25%;

}

.centerpart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 94px;
}

.centertitle {
    display: flex;
    flex-direction: column;
}

.robotimg img {
    width: 200px;
    height: 200px;
}


.footerpart {
    height: 100px;
    display: flex;
    flex-direction: column;
    position: fixed;
    /* Place the element 50% down from the top */
    left: 50%;
    /* Place the element 50% across from the left */
    transform: translate(-50%, -50%);
    bottom: -20px;
}


.taptext {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fooetrmicandwaves {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.micimg img {
    width: 70px;
    height: 70px;
    cursor: pointer;

}

.sline img {
    /* height: 100px; */
    width: 190px;
}

.fline img {
    /* height: 100px; */
    width: 190px;
}

.taptext p {
    color: rgba(170, 170, 170, 1);
    font-family: "Raleway";
    font-size: 10px;

}

.miniheader {
    color: rgba(32, 60, 95, 0.25);
    font-family: "Raleway";
    font-size: 25px;
    font-weight: 600;
}

.largeheader {
    color: rgba(32, 60, 95, 0.25);
    font-family: "Raleway";
    font-size: 40px;
    font-weight: 600;
}

.stflexcolor {
    background-color: #edf1fa;
    height: 75%;
    width: 100%;
}

.voicegptimg img {
    width: 133px;
}

.voicegptimg {
    padding: 7px;
}

.quadralogoimg img {
    width: 109px;
}

.quadralogoimg {
    pad: 7px;
}

.speechecenterimg {
    width: 28px;
    height: 28px;
}

.incoming {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    margin: 20px;
}

.textareafield {
    height: 100px;
    width: -webkit-fill-available;
}


.chatbox {
    height: 407px;
    overflow: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style for incoming chat message */
.chat.incoming {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 60px;
}

/* Style for outgoing chat message */
.chat.outgoing {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
    margin-left: 62px;
}

/* Style for chat message bubble */
.chat p {
    background-color: #edf1fa;
    color: #000;
    border: 1px solid rgba(207, 207, 207, 1);
    border-radius: 8px;
    max-width: 70%;
    word-wrap: break-word;
    padding: 10px 15px;
    font-family: "Raleway";
    font-size: 14px;
}

/* Style for user avatar in incoming message */
.chat.incoming img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
}

/* Style for assistant avatar in outgoing message */
.chat.outgoing img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 20px;
}

/* Style for assistant avatar in outgoing message */
.chat.outgoing p {
    background-color: rgba(255, 255, 255, 1);
    color: black;
}
.robotimg{
    animation: shake 3s infinite;
}
@keyframes shake{
0%,100%{
    transform: translateY(0px);
}
50%{
    transform: translateY(-9px);
}
}


@media screen and (min-width:1600px){
    .voicegptimg {
        padding: 20px;
    }

    .voicegptimg img {
        width: 150px;
    }

    .quadralogoimg img {
        width: 150px;
    }

    .miniheader {
        font-size: 38px;
    }
    .largeheader {
        font-size: 48px;
    }
    .robotimg img {
        width: 350px;
        height: 380px;
    
    }
    .footerpart {
        height: 156px;
    }
    .micimg img {
        width: 100px;
        height: 100px;
        cursor: pointer;
    }
    .fline img {
        width: 220px;
    }
    .sline img {
        width: 220px;
    }
    .taptext p {
    font-size: 12px;
    }
    .chatbox {
        height: 626px;}
}