{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/lightmode.css'%}" id="styles">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Speech AI</title>
    <link rel="shortcut icon" href="../../static/images/quadraresponselogo2.png" type="image/x-icon">
</head>

<body>
    <div class="mainclass">

        <div class="headerpart">
            <div class="voicegptimg">
                <img src="../../../static/images/voicegpt.png" alt="">
            </div>
            <div class="quadralogoimg">
                <img src="../../../static/images/quadralogo.png" alt="">
            </div>
        </div>
        <div class="stflexcolor">
            <div class="inputbox" id="inputbox">
                <div class="textareafield">
                    <ul class="chatbox">
                        <!-- <li class="chat incoming">
                            <img src="../../static/images/User-60.png" alt="" id="speechecenterimg" class="speechecenterimg">
                                <p></p>
                           
                        </li>
                        <li class="chat outgoing">
                            <img src="../../static/images/chatrobo.png" alt="" id="speechecenterimg" class="speechecenterimg">
                                <p></p>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="centerpart" id="centerpart">
                <div class="centertitle">

                    <p class="miniheader">Hello!</p>
                    <text class="largeheader">How Can I Assist You?</text>

                </div>
                <div class="robotimg">
                    <img src="../../../static/images/robotimg.png" alt="">
                </div>
            </div>
            <div class="footerpart">
                <div class="taptext">
                    <p id="result">Tap the button to speak</p>
                </div>
                <div class="fooetrmicandwaves">
                    <div class="fline" >
                        <img src="../../../static/images/Line.png" alt="" id="fline">
                    </div>
                    <div class="micimg">
                        <img src="../../../static/images/newmic.png" alt="" onclick="initial_call(document.getElementById('result').textContent)" id="speakimg">
                    </div>
                    <div class="sline" >
                        <img src="../../../static/images/Line.png" alt="" id="sline">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/speech.js' %}"></script>
    </div>
</body>

</html>